@model ClothingStore.Models.Customer

@{
    ViewData["Title"] = "Eliminar cliente";
}

<h1>Eliminar Cliente</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Nombres
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>
        <dt class = "col-sm-2">
            Apellidos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class = "col-sm-2">
            Correo Electronico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Telefono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Direccion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <hr />
        <button type="submit" class="btn btn-danger">Eliminar <i class="bi bi-trash3-fill"></i></button>
        <a asp-action="Index" class="btn btn-primary">Regresar <i class="bi bi-file-earmark-text-fill"></i></a>
    </form>
</div>
