@model ClothingStore.Models.Product

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>

<h3>¿Estas seguro que quieres eliminar este producto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2 mt-2">
            Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2 mt-2">
            Descripcion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2 mt-2">
            Precio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2 mt-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2 mt-2">
            Talla
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeId)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-2">
        <hr />
        <button type="submit" class="btn btn-danger">Eliminar <i class="bi bi-trash3-fill"></i></button>
        <a asp-action="Index" class="btn btn-primary">Regresar <i class="bi bi-file-earmark-text-fill"></i></a>
    </form>
</div>
